/* You can add global styles to this file, and also import other style files */

$critical-color: #e71d1d;
$warning-color: #7d85b2;
$minor-color: #ddd326;
$major-color: #ef8e00;
$white-color: #ffffff;
